# Gradle
.gradle/
/build
**/build/
/captures
.externalNativeBuild
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
/.idea
*.iml
*.iws
*.ipr
.vcs.xml

# VS Code
.vscode/

# Local configuration
local.properties
weather.properties

# Secret files
app/keystore.jks

# Security
*.keystore

# Kotlin / Java
*.class
*.kjsm

# Native builds
.externalNativeBuild/
.cxx/

# Output
*.apk
*.ap_

# Captures (Android Studio)
captures/

# macOS
.DS_Store


# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/