name: Android DevOps

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
  workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write
  checks: write

env:
  commonGradleFlags: --parallel --stacktrace --build-cache --no-daemon --warning-mode=summary
  detektConfigPath: devops/detekt-settings/configurations/detekt-tests.yml
  detektReportPath: ./build/reports/detekt/detekt.xml
  reviewdogSetup: -f=checkstyle -name=detekt -level=error -tee -fail-on-error=true

jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cleanup GitHub Actions bot logs
        if: github.event_name == 'pull_request'
        continue-on-error: true
        run: |
          bash ./devops/scripts/cleanup-gh-bot-logs.sh \
            "${{ github.repository_owner }}" \
            "${{ github.event.repository.name }}" \
            "${{ github.event.pull_request.number }}" \
            "github-actions[bot]" \
            "${{ secrets.GITHUB_TOKEN }}"

      - name: Set up Reviewdog
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run detekt
        run: ./gradlew detektAll $commonGradleFlags -Pdetekt.config=$detektConfigPath

      - name: Debug detekt report
        run: |
            echo "report path: $detektReportPath"
            if [ -f "$detektReportPath" ]; then
                ls -l $detektReportPath
                sed -n '1,50p' $detektReportPath
            else
                echo "Detekt report missing"
                ls -la build/reports/detekt || true
            fi

      - name: Run Reviewdog for Detekt as Github Review
        if: github.event_name == 'pull_request'
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          reviewdog $reviewdogSetup -filter-mode=added -reporter=github-pr-review < $detektReportPath

      - name: Run Reviewdog for Detekt as Github CHECK
        if: github.event_name == 'pull_request'
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          reviewdog $reviewdogSetup -filter-mode=file -reporter=github-pr-check < $detektReportPath

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create weather.properties
        run: echo "WEATHER_API_KEY=${{ secrets.WEATHER_API_KEY }}" >> $GITHUB_ENV

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build Debug APK
        run: ./gradlew :app:assembleDebug $commonGradleFlags -PweatherApiKey=$WEATHER_API_KEY

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk
